.carousel {
	position: relative;
}
.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	&.family {
		border-bottom: 2px solid $family;
	}
	&.church {
		border-bottom: 2px solid $church;
	}
	> .item {
		display: none;
		position: relative;
		-webkit-transition: 0.6s ease-in-out left;
		transition: 0.6s ease-in-out left;
		> img,
		>a > img {
			display: block;
			max-width: 110%;
			height: auto;
			line-height: 1;
			@include bp(44) {
				max-width: 100%;
			}
		}
	}
	> .active,
	> .next,
	> .prev {
	  display: block;
	}
	> .active {
		left: 0;
	}
	> .next,
	> .prev {
		position: absolute;
		top: 0;
		width: 100%;
	}
	> .next {
		left: 100%;
	}
	> .prev {
		left: -100%;
	}
	> .next.left,
	> .prev.right {
		left: 0;
	}
	> .active.left {
		left: -100%;
	}
	> .active.right {
		left: 100%;
	}
}
.item {
	@include bp(44) {
		&:before {
			content:'';
			position: absolute;
			top: 40%;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			display: block;
			background-image: -webkit-gradient(linear, left bottom, left top, from(#edebe8), to(transparent));
			background-image: -webkit-linear-gradient(bottom, #edebe8, transparent);
			background-image:    -moz-linear-gradient(bottom, #edebe8, transparent);
			background-image:      -o-linear-gradient(bottom, #edebe8, transparent);
			background-image:         linear-gradient(to top, #edebe8, transparent);
		}
	}
}

.carousel-control {
	position: absolute;
	top: 3em;
	left: 0;
	z-index: 999;
	width: 2em;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background: #3d3d3d;
	font-size: 1.25em;
	line-height: 1;
	padding: 0.5em 0.5em 0.35em;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	@include bp(44) {
		top: 50%;
		width: 2em;
		font-size: 1.5em;
		margin-top: -1.25em;
	}
}
.carousel-control.left {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.carousel-control.right {
	left: auto;
	right: 0;
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}
.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-caption {
	text-align: center;
	font-size: 0.925em;
	height: 14em;
	position: relative;
	div {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0.5em 1em;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
	}
	h1 {
		margin: 0 0 0.25em;
		color: #292929;
	}
	p {
		margin: 0 0 1em;
		font-size: 1.125em;
		color: #525252;
	}
	@include bp(44) {
		position: absolute;
		left: 2em;
		bottom: 2em;
		z-index: 10;
		text-align: left;
		font-size: 1em;
		height: auto;
		font-size: 1em;
		div {
			position: static;
			padding: 0;
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
}

.home  {
	.carousel-caption {

	}
	.carousel-action {
		@include button(#79bd35, #fff);
	}
	@include bp(44) {
		.carousel-action {

		}
	}
}
.family  {
	.carousel-caption {

	}
	.carousel-action {
		@include button($family, #fff);
	}
	@include bp(44) {
		.carousel-action {

		}
	}
}
.church  {
	.carousel-caption {

	}
	.carousel-action {
		@include button($church, #fff);
	}
	@include bp(44) {
		.carousel-action {

		}
	}
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
}