$text: #524e4b;
$blue: #3281b3;
$gray-text: #aaa;
$blue-back: #256085;
$radio: #3784b4;
$family: #7bbd3a;
$church: #753b58;
$green: #76ab41;
$tan: #d2d0cb;
$light-blue: #edf9ff;
$newsletter-blue: #a5c7dc;
$tab-gray: #edebe8;